/*jas*/

@font-face {
    font-family: "CenturyGothicRegular";
    src: url("../fonts/CenturyGothicRegular.ttf");
}
@font-face {
    font-family: "CenturyGothicBold";
    src: url("../fonts/CenturyGothicBold.ttf");
}
@font-face {
    font-family: "CenturyGothicItalic";
    src: url("../fonts/CenturyGothicItalic.ttf");
}
@font-face {
    font-family: "CenturyGothicBoldItalic";
    src: url("../fonts/CenturyGothicBoldItalic.ttf");
}
/*--overrides--*/
html {
    /* footer */
    position: relative;
    min-height: 100%;
}
body {
    font-family: "CenturyGothicRegular",Helvetica Neue,Helvetica,sans-serif,Arial;
    font-size: 14px;
    letter-spacing: 0.3px !important;
    /* footer height */
    margin-bottom: 55px;
    background-color: whitesmoke;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "CenturyGothicBold",CenturyGothicRegular,Helvetica Neue,Helvetica,sans-serif,Arial;
    color: #212528;
}
hr {
    border-top: 2px solid #eee;
    margin-bottom: 10px !important;
    margin-top: 15px !important;
}
b {
    font-family: "CenturyGothicBold",CenturyGothicRegular,Helvetica Neue,Helvetica,sans-serif,Arial;
}
ul {
    list-style-type: none;
}
h5 {
    font-size: 16px;
}
h4 {
    font-size: 20px;
}
table>thead>tr {
    background-color: #077b50 !important;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-family: "CenturyGothicBold",Helvetica Neue,Helvetica,sans-serif,Arial !important;
    letter-spacing: 0.3px;
}
table>tbody>tr {
    cursor: pointer;
}
a {
    color: #989898;
}
a:focus, a:hover {
    text-decoration: none;
    color: #989898;
}

/*--new-styles--*/
/*body*/
.dash-body {
    background: linear-gradient(to left,whitesmoke,#eceeef,whitesmoke);
}
.login-body {
    background: linear-gradient(to left,#248a51,#046f56);
}
/*navbar*/
.navbar-brand {
    font-size: 16px;
    padding: 12px 0;
    margin-right: 30px;
    margin-left: 9px;
}
nav.navbar {
    padding: 0 16px;
    letter-spacing: 0px !important;
}
.nav-link {
    /*padding: 18px 12px 18px;*/
    padding: 16px 9px 16px !important;
}
.nav-item.active>.nav-link {
    padding: 18px 12px 14px;
}
.navbar-nav>li>a {
    font-size: 13px;
}
.nav-item {
    white-space: nowrap;
}
.login-main {
    margin: 125px 0 40px;
}
.con-login {
    width: 340px;
    margin: auto;
}
.con-main {
    margin: 80px 35px 40px;
}
.dash-main {
    margin: 85px 55px 40px;
}
.con-border {
    padding: 25px 30px;
    /*border: 1px solid #bce8f1;*/
    border: 1px solid #b5dab5;
    border-radius: 5px;
    background-color: #ffffff;
}
.con-dashboard {
    padding: 25px 30px;
    border: 1px solid #4ab8d9;
    border-radius: 5px;
    background-color: #ffffff;
}
.con-flu {
    padding: 15px 25px;
}
.bg-custom {
    /*background: linear-gradient(to left,#155a7b,#239ee2,#155a7b);*/
    background-color: #4dbb4d;
}
.nav-item.active {
    border-bottom: 2px solid #fff;
}

.row-search {
    position: relative;
    width: 35%;
}
.searchBar {
    right: 0;
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -5px;
    z-index: 1000;
}
.input-group-text {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.1px;
    background-color: #eee;
    padding: 8px 14px;
    font-family: "CenturyGothicBold",Helvetica Neue,Helvetica,sans-serif,Arial !important;
}
/*hr*/
.dash-hr {
    border-top: 2px solid #dcdcdc !important;
}
.hr-login {
    border-top: 1px solid #4495c3 !important;
}
/*color*/
.yellowgreen {
    color: #5cb15b;
}
.darkblue {
    color: #103b5a;
}
.red {
    color: red;
}
.required {
    color: red!important;
}
/*alert*/
.alert-success {
    color: #155724!important;
    /*background-color: #d4edda!important;*/
    background-color: #e6f4e9!important;
    /*font-family: "CenturyGothicBold",Helvetica Neue,Helvetica,sans-serif,Arial !important;*/
}
.alert-warning {
    color: #856404!important;
    /*background-color: #fff3cd!important;*/
    background-color: #fff3cd!important;
    /*font-family: "CenturyGothicBold",Helvetica Neue,Helvetica,sans-serif,Arial !important;*/
}
.alert-danger {
    color: #721c24 !important;
    /*background-color: #f8d7da !important;*/
    background-color: #ffecee !important;
    /*font-family: "CenturyGothicBold",Helvetica Neue,Helvetica,sans-serif,Arial !important;*/
}
/*icon*/
.dash-icon{
    position: absolute;
    top: 0px;
}
.dash-icon>.fas{
    width: 16px;
    height: 15px;
    font-size: 9px!important;
    color: #fff;
    /*padding: 3px 3px 2px;*/
    text-align: center;
    /*border:1px solid #fff;*/
}
/*form*/
input[type=checkbox], input[type=radio] {
    width: auto;
    cursor: pointer;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: rgb(250, 255, 189) !important;
    background-image: none !important;
    color: rgb(0, 0, 0) !important;
    border-radius: 25px;
}
input {
    font-size: 13px !important;
}
.form-control {
    font-size: 13px !important;
}
.form-group label {
    font-family: "CenturyGothicBold",Helvetica Neue,Helvetica,sans-serif,Arial !important;
}
.con-login>.form-signin>.login-header {
    text-align: center;
    /*text-transform: uppercase;*/
    color: #fff;
    font-size: 24px;
    margin-bottom: 10px;
}
.login-main .input-group{
    margin-bottom: 10px;
    background-color: aliceblue;
    border-radius: 25px;
}
.login-main .input-group-prepend{
    position: absolute;
    z-index: 100;
    height: 35px;
    padding-left: 5px;
}
.login-main .input-group-text{
    background-color: transparent;
    border: 0px solid #ced4da;
}
.login-main input{
    border-radius: 25px!important;;
    padding: 8px 10px 8px 43px;
    border: 0px solid #ced4da;
    background-color: transparent;
}
.login-main .form-control:focus {
    border-radius: 25px!important;
}
/*table*/
.table {
    background-color: #ffffff;
    border: 4px solid #ececec;
    border-radius: 5px;
}
/*hide sort*/
table.dataTable>thead>tr>.hideSort.sorting:before, table.dataTable>thead>tr>.hideSort.sorting:after, table.dataTable>thead>tr>.hideSort.sorting_asc:before, table.dataTable>thead>tr>.hideSort.sorting_asc:after, table.dataTable>thead>tr>.hideSort.sorting_desc:before, table.dataTable>thead>tr>.hideSort.sorting_desc:after, table.dataTable>thead>tr>.hideSort.sorting_asc_disabled:before, table.dataTable>thead>tr>.hideSort.sorting_asc_disabled:after, table.dataTable>thead>tr>.hideSort.sorting_desc_disabled:before, table.dataTable>thead>tr>.hideSort.sorting_desc_disabled:after {
    opacity: 0 !important;
}
.table td, .table th {
    padding: 11px 15px;
}
table>tbody>tr>td {
    font-size: 13px !important;
}
.dataTables_filter {
    display: none;
}
.dataTables_length>label {
    margin-bottom: 0px !important;
}
.table-dashboard td{
    position: relative;
    border: 4px solid #eceeef;
    background-color: #fff;
    padding: 0;
}
/*footer*/
.footer {
    font-size: 12px !important;
    padding: 12px 26px 10px;
    position: absolute;
    bottom: 0px !important;
    width: 100%;
    height: 42px;
    background-color: #fff;
    border-top: 1px solid #dcdcdc;
    font-family: "CenturyGothicBold",Helvetica Neue,Helvetica,sans-serif,Arial !important;
}
.footer  >a {
    color: #45c543;
}
.copyright-footer b{
    color: #fff;
}
.copyright-footer{
    text-align: center;
    font-size: 10px;
    color: #c6deeb;
}

/*modal*/
.modal{
    overflow: scroll !important;
}
.con-body {
    margin: 12px 15px;
    /*border: 1px solid #bce8f1;*/
    border: 1px solid #b5dab5;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px 25px;
}
.modal-header {
    /*background: linear-gradient(to left,#006fa5,#239ee2,#6ec0ef,#239ee3,#006fa5);*/
    /*background-color: #70be70!important;*/
    background-color: #01796c!important;
}
.modal-title {
    color: #fff!important;
    /*color: #00796c;*/
    /*text-transform: uppercase;*/
}
.modal-content {
    background-color: #eceeef;
}
.modal-footer {
    background-color: #fff;
    border-top: 1px solid #5cb15b;
    font-family: "CenturyGothicBold",CenturyGothicRegular,Helvetica Neue,Helvetica,sans-serif,Arial;
    color: #5cb15b;
    border-radius: 5px;
}
.modal-footer>.container-fluid {
    text-align: center;
    vertical-align: middle;
}
.p-25 {
    padding: 0.6rem;
}
.stl-top {
    font-family: "CenturyGothicBold",CenturyGothicRegular,Helvetica Neue,Helvetica,sans-serif,Arial;
    width: 100%;
    font-size: 12px;
    border: 1px solid #ced4da;
    border-top: 0 solid transparent;
    padding: 3px 5px;
    text-align: center;
    background-color: #eeeeee;
    text-transform: uppercase;
    color: #495057;
    border-radius: 3px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

/*tablet-mobile*/
@media (min-width: 768px){
    /*search*/
    .row-search {
        float: right;
    }
}
@media (max-width: 950px){
    /*dashboard*/
    .dash-main {
        margin: 80px 30px 40px;
    }
}
@media (max-width: 768px){
    /*nav*/
    .navbar-brand {
        font-size: 16px;
        padding: 12px 10px;
        margin-right: 0px;
        margin-left: 0px;
    }
    nav.navbar {
        padding: 0 0px;
    }
    .navbar-toggler {
        margin-right: 10px;
    }
    .nav-link {
        padding: 16px 30px 16px !important;
    }
    .nav-item {
        text-align: center;
    }
    .navbar-nav .nav-item {
        /*background-color: #0f5e84;*/
        background-color: #00796c;
    }
    .navbar-nav .nav-item.active {
        border-bottom: 0px solid #fff;
        background-color: #ffffff !important;
    }
    .navbar-nav .nav-item.active>a {
        color: #00796c!important;
    }
    .bg-navcollapse.show {
        border-top: 1px solid #042200;
    }
    /*dashboard*/
    .dash-main {
        margin: 75px 15px 40px;
    }
    /*search*/
    .row-search {
        width: 100%;
    }
    .searchBar {
        padding-left: 20px;
        padding-right: 10px;
    }
    .con-main {
        margin: 65px 10px 30px;
    }
    .con-border {
        padding: 15px 15px;
    }
    /*button*/
    .con-flu>button{
        width: 100%;
        margin-bottom: 5px;
    }
}







